Cedesistemas.ServicioWeb/ConsumirServicioWeb/Service References/CadenaService/AgenciasViajesApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgenciasViajesApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53297/CadenasViajesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53297/CadenasViajesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53297/CadenasViajesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cedesistemas.Model.Business.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgenciasViajesApi_SelectAllClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllClientes" />
  </wsdl:message>
  <wsdl:message name="IAgenciasViajesApi_SelectAllClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IAgenciasViajesApi_SelectClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClienteById" />
  </wsdl:message>
  <wsdl:message name="IAgenciasViajesApi_SelectClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClienteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgenciasViajesApi">
    <wsdl:operation name="SelectAllClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgenciasViajesApi/SelectAllClientes" message="tns:IAgenciasViajesApi_SelectAllClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgenciasViajesApi/SelectAllClientesResponse" message="tns:IAgenciasViajesApi_SelectAllClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgenciasViajesApi/SelectClienteById" message="tns:IAgenciasViajesApi_SelectClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgenciasViajesApi/SelectClienteByIdResponse" message="tns:IAgenciasViajesApi_SelectClienteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgenciasViajesApi" type="tns:IAgenciasViajesApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllClientes">
      <soap:operation soapAction="http://tempuri.org/IAgenciasViajesApi/SelectAllClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClienteById">
      <soap:operation soapAction="http://tempuri.org/IAgenciasViajesApi/SelectClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgenciasViajesApi">
    <wsdl:port name="BasicHttpBinding_IAgenciasViajesApi" binding="tns:BasicHttpBinding_IAgenciasViajesApi">
      <soap:address location="http://localhost:53297/CadenasViajesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>