Cedesistemas.ServicioWeb/ConsumirServicioWeb/Service References/CadenaService/CadenasViajesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53297/CadenasViajesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cedesistemas.Model.Business.Entities" />
  <xs:element name="SelectAllClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cedesistemas.Model.Business.Entities" minOccurs="0" name="SelectAllClientesResult" nillable="true" type="q1:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClienteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClienteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cedesistemas.Model.Business.Entities" minOccurs="0" name="SelectClienteByIdResult" nillable="true" type="q2:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>