Cedesistemas.ServicioWeb/ConsumirServicioWeb/Service References/EjemploWcf/EjemploWcf1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EjemploWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13306/Servicios/EjemploWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13306/Servicios/EjemploWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13306/Servicios/EjemploWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EjemploServicios.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEjemploWcf_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEjemploWcf_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEjemploWcf_CalcularDato_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDato" />
  </wsdl:message>
  <wsdl:message name="IEjemploWcf_CalcularDato_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularDatoResponse" />
  </wsdl:message>
  <wsdl:message name="IEjemploWcf_SelectAllPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPersonas" />
  </wsdl:message>
  <wsdl:message name="IEjemploWcf_SelectAllPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllPersonasResponse" />
  </wsdl:message>
  <wsdl:portType name="IEjemploWcf">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjemploWcf/DoWork" message="tns:IEjemploWcf_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjemploWcf/DoWorkResponse" message="tns:IEjemploWcf_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularDato">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjemploWcf/CalcularDato" message="tns:IEjemploWcf_CalcularDato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjemploWcf/CalcularDatoResponse" message="tns:IEjemploWcf_CalcularDato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IEjemploWcf/SelectAllPersonas" message="tns:IEjemploWcf_SelectAllPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEjemploWcf/SelectAllPersonasResponse" message="tns:IEjemploWcf_SelectAllPersonas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEjemploWcf" type="tns:IEjemploWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEjemploWcf/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularDato">
      <soap:operation soapAction="http://tempuri.org/IEjemploWcf/CalcularDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllPersonas">
      <soap:operation soapAction="http://tempuri.org/IEjemploWcf/SelectAllPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EjemploWcf">
    <wsdl:port name="BasicHttpBinding_IEjemploWcf" binding="tns:BasicHttpBinding_IEjemploWcf">
      <soap:address location="http://localhost:13306/Servicios/EjemploWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>