Cedesistemas.ServicioWeb/ConsumirServicioWeb/Service References/EjemploWcf/EjemploWcf21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13306/Servicios/EjemploWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EjemploServicios.Dto" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:int" />
        <xs:element minOccurs="0" name="valor2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularDatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularDatoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EjemploServicios.Dto" minOccurs="0" name="SelectAllPersonasResult" nillable="true" type="q1:ArrayOfPersonaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>